<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ZDM Manager - Brak dostępu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="style.css" rel="stylesheet" type="text/css">

    <!--	<style>-->

    <!--</style>-->
</head>
<body>
<header>
    <h2>ZDM Manager</h2>
    <h4>Dział pojazdów budowlanych</h4>
</header>

<section>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/pojazdy">Pojazdy</a></li>
            <li><a href="/pracownik">Pracownicy fizyczni</a></li>
            <li><a href="/wyjazd">Księga wyjazdów</a></li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </nav>


    <article>

        <h4>Wystąpił błąd</h4>
        <p></p>
        <p>Spróbuj jeszcze raz</p>
        <p></p>

    </article>
</section>

<footer>
    <p>BDBT 21L - ZDM Manager - Karol Chodowski, Damian Prochenka</p>
</footer>

</body>
</html>
